.wrapper {
  & h2 {
    margin: 5rem 0 2rem;
    font-weight: bold;
    font-size: var(--font-size-l);
    line-height: 1.7;
  }
  & h3 {
    font-weight: bold;
    margin: 5rem 0 2rem;
    font-size: 2rem;
  }
  & p {
    font-size: var(--font-size-m);
    line-height: 2.3;
  }
  & p + p {
    margin-top: var(--gutter-s);
  }
  & ul {
    margin-top: var(--gutter-xs);
    padding-left: var(--gutter-s);
    font-size: var(--font-size-m);
    line-height: 2.54;
    list-style-type: disc;

    & ul,
    & p {
      margin-top: 0;
      list-style-type: circle;
    }
  }
  & ol {
    margin-top: var(--gutter-xs);
    padding-left: var(--gutter-s);
    font-size: var(--font-size-m);
    line-height: 2.54;
    list-style-type: decimal;

    & ol,
    & p {
      margin-top: 0;
    }
    & ol {
      list-style-type: lower-roman;
    }
  }
  & table {
    width: 100%;
    margin-top: var(--gutter-l);
    font-size: var(--font-size-s);
    border-collapse: collapse;

    & th,
    & td {
      padding: var(--gutter-xxs);
      border: 1px solid var(--font-color);
      line-height: 1.4;
    }

    & th {
      font-weight: bold;
      background-color: #36363d;
    }
  }
  & a {
    text-decoration: underline;
  }
  & img {
    display: block;
    width: auto;
    height: auto;
    max-width: 96%;
    max-height: 600px;
    margin: var(--gutter-xs) auto;
  }
  & strong {
    font-weight: bold;
  }
  & pre {
    font-size: var(--font-size-s);
  }
  & blockquote {
    border-left: 2px solid #adadad;
    margin-bottom: 20px;
    padding: 10px 20px;

    & p {
      margin-top: 0;
    }
  }
  & hr {
    display: block;
    width: 40%;
    height: 0;
    margin: var(--gutter-xl) auto;
    border: none;
    border-top: 1px dashed var(--font-color);
  }

  & > *:first-child {
    margin-top: 0;
  }

  @media (max-width: 566px) {
    & h2 {
      line-height: 2.5;
    }
    & p {
      line-height: 2.1;
    }
    & ul {
      line-height: 2;
    }
    & ol {
      line-height: 2;
    }
    & th,
    & td {
      font-size: var(--font-size-xs);
    }
  }
}
