.container {
  min-height: 100vh;
  margin: 0;
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main {
  position:relative;
  width: 100%;
  margin: 0;
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}